@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

html{
    scroll-behavior: smooth;
}

*{ /*setting all elements to have 0 margin and 0 padding, making them look the same in all browsers*/
    padding: 0;
    margin: 0;
    font-family:'Courier New', Courier, monospace;
    box-sizing: border-box;
}

.logo img{
    height:50px;
    width:50px;
    background-color: transparent;
}

a{
    cursor: pointer;
    text-decoration: none;
    color:rgba(211, 204, 204, 0.828);
}

a:hover{
    color:white;
    transition:0.3s;
}

h3{
    font-size:20px;
}

li{
    list-style: none;
}

nav{
    background-color: black;
    position:fixed; /*fix style on top for nav*/
    top:0;
    padding:0;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:80px;
    box-shadow: 0 5px 100px rgba(0, 0, 0, 0.2);
}

nav .logo{
    display:flex;
    align-items: center;
}

nav .logo a
{
    margin:8px;
    font-weight:bold;
    font-size: 20px;
}

nav ul, ul{
    display: flex;
    gap:30px;
}

nav button{ /*style for the buttons*/
    color:rgba(211, 204, 204, 0.828);
    background-color: transparent;
    padding:13px 15px;
    border-radius: 5px;
    cursor: pointer;
    border:1px solid white;
}

nav button:hover{
    color:white;
    transition:0.3s;
}

.main{ /*section for intro*/
    background-color:rgb(0, 0, 0);
    padding:90px 85px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:30px;
}

.main .right img{
    width:370px;
    height:500px;
}

.main .left{
    display:flex;
    flex-direction:column;
    align-items: start;
}

.main .left h3{
   margin-top: 25px;
   font-size:35px;
   color:white;
}

.main .left p{
    font-size:20px;
    color:white;
 }

 .skills{
    padding:90px 85px 0;
 }

 .skills h3{
    padding:0 10px 0;
    color:white;
 }

 .skills p
 {
    color:white;
 }

 .fa-solid{
    color:rgb(255, 255, 255);
    padding:20px;
    display:flex;
    align-items: center;
    height:46px;
    width:46px;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size:26px;
 }

 .skills h1
 {
    font-size:40px;
 }

 .skills .skillItems{
    display:flex;
    margin-top: 50px;
    gap:30px;
 }

 .skills .skillItems .item{
    background-color: black;
    width:25%;
    border-radius: 10px;
    padding:25px;
    cursor: pointer;
    transition:all 0.3s ease;
 }

 .skills .skillItems .item:hover{
    border-bottom: 3px solid white;
 }

 .portfolio .portfolioItems .item .info h3{
    font-size:18px;
 }

 .about{
    display:flex;
    padding: 90px;
    background-color: black;
    margin-top: 50px;
 }

 .about .left img{
    width:440px;
    align-items: center;
 }

 .about .right p{
    font-size:20px;
    margin-top:20px;
    width:100%;
    padding-left:5%;
    color:white;
 }

 .about .right{
    border: 1px solid black;
 }

 .about .right h3{
    padding-left: 5%;
    font-size:30px;
    color:white;
 }

.portfolio{
    background-color: white;
    padding: 110px 85px;
}

.portfolio .header .info{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:50px;
}

.portfolio .header button{
    color:rgba(211, 204, 204, 0.828);
    background-color: black;
    border-radius: 10px;
    padding-right: 65px;
    cursor: pointer;
    padding-bottom: 0;
}

.portfolio .header button i{
    color:rgba(211, 204, 204, 0.828);
}

.portfolio .header button i:hover{
    color:white;
    transition:0.5s;
}

.info .fa-solid{
    font-size:15px;
}

.portfolio .header h3
 {
    font-size:45px;
    margin-top:20px;
    font-weight:bold;
 }

 .portfolio .portfolioItems .item img{
    width:100%
 }

 .portfolio .portfolioItems .item{
    width:30%;
    background-color: black;
    border-radius: 10px;
 }

 .portfolio .portfolioItems .item:hover{
    border-bottom: 5px solid white;
    transition:0.5s;
 }

 .portfolio .portfolioItems .item p,h4{
    color:white;
    padding-left: 20px;
    padding-top: 10px;
 }

 .portfolio .portfolioItems{
    display:flex;
    align-items: center;
    justify-content: space-between;
 }

 footer{
    background-color: black;
 }

 .bottom p{
    color:white;
 }

 .bottom{
    padding-top: 20px;
    padding:10px;
 }

 .top{
    display:flex;
    justify-content: space-between;
 }

 .top h1{
    color:white;
    padding-left: 20px;
 }

 .logo{
    display:flex;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 50px;
 }

#menuButton{
   display: none;
}

.diaplay a{
   transition: 0.5s;
}
 /*responsive mode*/
@media screen and (max-width: 600px){
   .main{
      flex-direction: column;
   }

   .main .left p{
      font-size: 15px;
   }

   .main .left{
      padding-right:25px;
    }

    .main .right img{
        width:100%;
        height:100%;
    }

    .skills h1{
      font-size:50px;
    }

    .skills .skillItems{
      flex-direction: column;
    }

    .skills .skillItems .item{
      width:100%;
    }

    .about{
      flex-direction: column;
    }
    .left img{
      padding-right: 200px;
      width:25%;
      height:15%;
    }

    .about .right p{
      font-size:15px;
    }

    .about .right h3{
      padding-top: 20px;
    }

    .info{
      flex-direction: column;
    }

    .info button{
      margin-right: 35px;
      margin-top: 25px;
    }

    .portfolioItems{
      flex-direction: column;
    }

    .portfolioItems .item{
      margin-top: 25px;
      align-items: center;
    }

    .social{
      margin-top: 25px;
    }
    nav{
      justify-content: space-between;
      padding:0;
    }

    nav ul{
      display: none;
    }

    nav button #menuButton{
      display:flex;
    }
 }














